/*
  Kanbkam sass Them
  version:0.0.1
*/
/*Direction */
/* BASE - Base styles , variables, mixins, ect*/
/*FONT*/
.box-height, .products-list .thumbnail, .categ-tabs .tab-content .tab-pane .categ-discription .thumbnail, .related-products .tab-content .tab-pane .categ-discription .thumbnail {
    height: 330px; }

.sprite, .footer .social-links a, .product-info .col-md-6 .buy-now a .souq-logo, .product-info .col-md-6 .expected-price .social-share li a {
    position: relative;
    background: url("../../img/sprite.png") no-repeat transparent;
    display: block; }

.text-shadow, .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger, .product-info .col-md-6 header h1, .product-info .col-md-6 .price p {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.3); }

/*UNCTIONS*/
/*MIXIN*/
a {
    color: #ff3a21; }
a:hover, a:focus, a:active, a:focus:active {
    color: #787979; }

.form-control, .select2-container .select2-selection--single,
.modal-content {
    border-radius: 0; }

.form-control:focus, .select2-container .select2-selection--single:focus {
    box-shadow: none; }

.more-row {
    display: block;
    text-align: right;
    margin-top: 10px; }
.more-row a {
    border-bottom: 1px solid #ff3a21;
    margin-right: 10px; }
.more-row a:hover {
    border-color: #787979; }

.load-more-btn {
    display: block;
    text-align: center;
    margin-top: 30px; }
.load-more-btn a {
    height: 40px;
    min-width: 500px;
    display: inline-block;
    font-size: 20px;
    font-size: 1.25rem;
    letter-spacing: 0.5px;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    line-height: 25px; }

body, html {
    min-height: 100%;
    height: 100%; }

main {
    position: relative;
    min-height: 100%; }

/*container max width*/
.container-fluid {
    max-width: 1170px; }

.default-sec-margine, .section, .details-tabs-section, .price-history, .product-souq-info {
    margin-top: 50px; }

.cd-main-content {
    background-color: #fff; }

a:focus,
a:hover,
a:active {
    text-decoration: none;
    outline: 0; }

.content {
    margin-top: 30px;
    padding-bottom: 230px; }

/*MODULES  - Individual site components */
/*FONT*/
@font-face {
    font-family: "font-bold";
    src: url("../../fonts/en/font-bold.eot");
    src: url("../../fonts/en/font-bold.eot?#iefix") format("embedded-opentype"), url("../../fonts/en/font-bold.woff") format("woff"), url("../../fonts/en/font-bold.ttf") format("truetype"); }
@font-face {
    font-family: "font-thin";
    src: url("../../fonts/en/font-thin.eot");
    src: url("../../fonts/en/font-thin.eot?#iefix") format("embedded-opentype"), url("../../fonts/en/font-thin.woff") format("woff"), url("../../fonts/en/font-thin.ttf") format("truetype"); }
html {
    font-size: 16px; }

body {
    font-family: Arial; }

.red {
    color: #e90303; }

.green {
    color: #4dbc31; }

h1, h2, h3, h4 {
    font-family: "font-thin", Helvetica, Arial, sans-serif; }

/*products-list*/
.loading-products {
    display: block;
    text-align: center;
    height: 330px;
    border: 1px solid #eaeaea; }
.loading-products img {
    margin-top: 90px;
    opacity: 0.5;
    filter: alpha(opacity=50); }

.products-list {
    margin-bottom: 0;
    border-color: #eaeaea;
    border-style: solid;
    border-width: 0;
    border-top-width: 1px;
    border-left-width: 1px;
    overflow: auto; }
.products-list .thumbnail {
    position: relative;
    border-radius: 0;
    border-color: #eaeaea;
    border-left-width: 0;
    border-top-width: 0;
    overflow: hidden;
    margin-bottom: 0; }
@media screen and (max-width: 767px) {
    .products-list .thumbnail:nth-child(odd) {
        border-left-width: 1px; } }
.products-list .thumbnail .actions {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all ease 0.4s;
    z-index: 1; }
.products-list .thumbnail .actions li {
    padding: 0; }
.products-list .thumbnail .actions li a {
    width: 30px;
    height: 30px;
    display: block;
    background: #fff;
    border: 1px solid #f1f1f1;
    border-radius: 50px;
    font-size: 18px;
    font-size: 1.125rem;
    text-align: center;
    position: relative; }
.products-list .thumbnail .actions li a .icon-add-to-cart {
    top: 5px; }
.products-list .thumbnail .actions li a .icon-alert {
    top: 4px; }
.products-list .thumbnail .actions li a .plus {
    background: #fff;
    font-size: 13px;
    left: 16px;
    line-height: 10px;
    position: absolute;
    top: 8px;
    width: 9px; }
.products-list .thumbnail a {
    display: block; }
.products-list .thumbnail a figure {
    margin-top: 10px;
    display: block;
    height: 157px;
    overflow: hidden;
    text-align: center;
    position: relative; }
.products-list .thumbnail a figure img {
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%; }
.products-list .thumbnail a .caption {
    padding: 5px; }
.products-list .thumbnail a h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    color: #101114;
    font-size: 12px;
    font-size: 0.75rem;
    opacity: 0.7;
    filter: alpha(opacity=70);
    line-height: 20px;
    height: 40px;
    overflow: hidden;
    font-family: Arial; }
.products-list .thumbnail a p {
    font-size: 18px;
    font-size: 1.125rem;
    color: #101114;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    letter-spacing: 0.1px;
    font-family: Arial; }
.products-list .thumbnail a p span {
    opacity: 0.3;
    filter: alpha(opacity=30);
    font-size: 11px;
    font-size: 0.6875rem;
    font-family: Arial; }
.products-list .thumbnail a:hover {
    text-decoration: none; }
.products-list .thumbnail a:hover h3 {
    opacity: 0.9;
    filter: alpha(opacity=90); }
.products-list .thumbnail .change-percent {
    float: right; }
.products-list .thumbnail:hover .actions {
    opacity: 1;
    filter: alpha(opacity=100); }

.categ-tabs .products-list, .related-products .products-list {
    border-top-width: 0;
    overflow: visible;
    border-right-width: 1px; }
@media (min-width: 768px) {
    .categ-tabs .products-list, .related-products .products-list {
        margin-left: 0; } }
@media (min-width: 992px) {
    .categ-tabs .products-list, .related-products .products-list {
        margin-left: -1px; } }
@media screen and (max-width: 767px) {
    .categ-tabs .products-list, .related-products .products-list {
        margin-left: 0; } }
.categ-tabs .products-list .thumbnail, .related-products .products-list .thumbnail {
    border-top-width: 1px; }
@media (min-width: 768px) {
    .categ-tabs .products-list .thumbnail:nth-child(4), .related-products .products-list .thumbnail:nth-child(4) {
        border-left-width: 0; } }
@media (min-width: 992px) {
    .categ-tabs .products-list .thumbnail:nth-child(4), .related-products .products-list .thumbnail:nth-child(4) {
        border-left-width: 0; } }
@media screen and (max-width: 767px) {
    .categ-tabs .products-list .thumbnail:nth-child(odd), .related-products .products-list .thumbnail:nth-child(odd) {
        border-left-width: 0; } }
@media (min-width: 768px) {
    .categ-tabs .tab-content .tab-pane .list-container, .related-products .tab-content .tab-pane .list-container {
        padding-left: 15px; } }
@media (min-width: 992px) {
    .categ-tabs .tab-content .tab-pane .list-container, .related-products .tab-content .tab-pane .list-container {
        padding-left: 0; } }
@media screen and (max-width: 767px) {
    .categ-tabs .tab-content .tab-pane .list-container, .related-products .tab-content .tab-pane .list-container {
        padding-left: 15px; } }
.categ-tabs .tab-content .tab-pane .categ-discription, .related-products .tab-content .tab-pane .categ-discription {
    padding-right: 0; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail, .related-products .tab-content .tab-pane .categ-discription .thumbnail {
    border-radius: 0;
    border-color: #eaeaea;
    margin-bottom: 0;
    background: #fcfcfc; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption {
    padding: 15px 6px; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption h2, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption h2 {
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    font-size: 20px;
    font-size: 1.25rem;
    color: #101114;
    line-height: 25px; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption p, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption p {
    font-size: 12px;
    font-size: 0.75rem;
    color: #8c8c8c;
    line-height: 20px; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption .more, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption .more {
    line-height: 12px;
    display: inline-block;
    font-size: 12px;
    font-size: 0.75rem;
    border-bottom: 1px solid #ff3a21; }
.categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption .more:hover, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption .more:hover, .categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption .more:focus, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption .more:focus, .categ-tabs .tab-content .tab-pane .categ-discription .thumbnail .caption .more:active, .related-products .tab-content .tab-pane .categ-discription .thumbnail .caption .more:active {
    color: #8c8c8c;
    border-bottom-color: #8c8c8c; }
.categ-tabs .slick-arrow, .related-products .slick-arrow {
    border: 1px solid #eaeaea;
    overflow: hidden;
    background: #fff;
    color: #ff3a21;
    font-size: 0;
    text-shadow: none;
    opacity: 1;
    filter: alpha(opacity=100);
    width: 30px;
    height: 27px;
    position: absolute; }
@media (min-width: 768px) {
    .categ-tabs .slick-arrow, .related-products .slick-arrow {
        bottom: auto;
        top: 50%;
        margin-top: -15px; } }
@media (min-width: 992px) {
    .categ-tabs .slick-arrow, .related-products .slick-arrow {
        bottom: 10px;
        top: auto; } }
@media screen and (max-width: 767px) {
    .categ-tabs .slick-arrow, .related-products .slick-arrow {
        bottom: auto;
        top: 50%;
        margin-top: -15px; } }
.categ-tabs .slick-arrow:focus, .related-products .slick-arrow:focus {
    outline: 0; }
.categ-tabs .slick-arrow::before, .related-products .slick-arrow::before {
    font-family: "kanbkam-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 34px;
    font-size: 2.125rem;
    position: relative;
    top: -5px; }
.categ-tabs .slick-arrow.slick-prev, .related-products .slick-arrow.slick-prev {
    z-index: 1; }
@media (min-width: 768px) {
    .categ-tabs .slick-arrow.slick-prev, .related-products .slick-arrow.slick-prev {
        left: 0; } }
@media (min-width: 992px) {
    .categ-tabs .slick-arrow.slick-prev, .related-products .slick-arrow.slick-prev {
        left: -170px; } }
@media screen and (max-width: 767px) {
    .categ-tabs .slick-arrow.slick-prev, .related-products .slick-arrow.slick-prev {
        left: 0; } }
.categ-tabs .slick-arrow.slick-prev::before, .related-products .slick-arrow.slick-prev::before {
    content: "\e006";
    right: 11px; }
@media (min-width: 768px) {
    .categ-tabs .slick-arrow.slick-next, .related-products .slick-arrow.slick-next {
        left: auto;
        right: 0; } }
@media (min-width: 992px) {
    .categ-tabs .slick-arrow.slick-next, .related-products .slick-arrow.slick-next {
        left: -141px;
        right: auto; } }
@media screen and (max-width: 767px) {
    .categ-tabs .slick-arrow.slick-next, .related-products .slick-arrow.slick-next {
        left: auto;
        right: 0; } }
.categ-tabs .slick-arrow.slick-next::before, .related-products .slick-arrow.slick-next::before {
    content: "\e00a";
    right: 9px; }
.categ-tabs .slick-arrow:hover, .related-products .slick-arrow:hover {
    color: #787979; }
.categ-tabs .slick-arrow.slick-disabled, .related-products .slick-arrow.slick-disabled {
    color: #787979;
    cursor: default;
    opacity: 0.6;
    filter: alpha(opacity=60); }

.old-price {
    color: #101114;
    opacity: 0.4;
    filter: alpha(opacity=40);
    font-size: 14px;
    text-decoration: line-through; }

.change-percent {
    border: 1px solid #ececec;
    font-size: 12px;
    font-size: 0.75rem;
    display: inline-block;
    height: 25px;
    overflow: hidden; }
.change-percent li {
    padding-right: 1px; }
.change-percent li i {
    font-size: 23px;
    font-size: 1.4375rem;
    height: 24px;
    overflow: hidden;
    padding: 0 5px;
    top: -1px; }
.change-percent li span {
    position: relative;
    top: -8px; }
.change-percent li:last-child {
    border-left: 1px solid #ececec;
    padding-left: 0; }

.banner {
    display: block;
    overflow: hidden;
    text-align: right; }
.banner img {
    max-width: 100%; }

.content h3 {
    font-size: 21px;
    font-size: 1.3125rem;
    letter-spacing: 0.5px;
    color: #101114; }

/*nodata */
.no-data {
    display: block;
    text-align: center;
    margin-top: 100px; }
.no-data .img {
    display: inline-block; }
.no-data .img img {
    max-width: 100%; }
.no-data h4 {
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    font-size: 35px;
    font-size: 2.1875rem; }
.no-data p {
    color: #bbbbbc; }

.btn-default,
.btn-default:hover,
.btn-default:active,
.btn-default:focus {
    background: #01dbd4;
    border-radius: 0;
    border-width: 0;
    color: #fff; }

.section h3 {
    font-size: 20px;
    font-size: 1.25rem;
    margin-bottom: 15px; }

/*icons*/
@font-face {
    font-family: "kanbkam-icons";
    src: url("../../fonts/icon-font/kanbkam-icons.eot");
    src: url("../../fonts/icon-font/kanbkam-icons.eot?#iefix") format("embedded-opentype"), url("../../fonts/icon-font/kanbkam-icons.woff") format("woff"), url("../../fonts/icon-font/kanbkam-icons.ttf") format("truetype"), url("../../fonts/icon-font/kanbkam-icons.svg#kanbkam-icons") format("svg");
    font-weight: normal;
    font-style: normal; }
[data-icon]:before {
    font-family: "kanbkam-icons" !important;
    content: attr(data-icon);
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

[class^="icon-"]:before,
[class*=" icon-"]:before {
    font-family: "kanbkam-icons" !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-variant: normal !important;
    text-transform: none !important;
    speak: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

[class^="icon-"],
[class*=" icon-"] {
    overflow: hidden;
    display: inline-block;
    position: relative; }

.icon-add-to-cart:before {
    content: "\e000"; }

.icon-alert:before {
    content: "\e001"; }

.icon-categ-icon:before {
    content: "\e002"; }

.icon-chart-down:before {
    content: "\e003"; }

.icon-chart-up:before {
    content: "\e004"; }

.icon-drop-down-menu-icon:before {
    content: "\e005"; }

.icon-left-arrow:before {
    content: "\e006"; }

.icon-menu-more-icon:before {
    content: "\e007"; }

.icon-reset-filtration:before {
    content: "\e009"; }

.icon-right-arrow:before {
    content: "\e00a"; }

.icon-search:before {
    content: "\e00b"; }

.icon-info:before {
    content: "\e00c"; }

.icon-edit:before {
    content: "\e00d"; }

.icon-sand-clock:before {
    content: "\e010"; }

.icon-disable:before {
    content: "\e00e"; }

.icon-delet:before {
    content: "\e00f"; }

.icon-collapse:before {
    content: "\e011"; }

.icon-expand:before {
    content: "\e012"; }

/*tabs*/
.nav-tabs {
    border-bottom-width: 0;
    margin-bottom: 15px; }
.nav-tabs li {
    margin: 0 10px; }
.nav-tabs li a {
    padding: 0;
    margin: 0;
    color: #bbbbbc;
    border-radius: 0;
    border-width: 0;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 16px; }
.nav-tabs li a:hover, .nav-tabs li a:focus {
    background: none;
    color: #101114; }
.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
    font-weight: bold;
    color: #101114;
    border-width: 0;
    border-bottom-width: 2px;
    border-bottom-color: #01dbd4;
    background: none; }
.nav-tabs li:first-child {
    margin-left: 0; }

/*form*/
.form-control, .select2-container .select2-selection--single {
    box-shadow: none;
    border-color: #ede6e9;
    height: 36px; }

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #fff; }

input.form-control:focus, .select2-container input.select2-selection--single:focus {
    border-color: #01dbd4; }

label.error {
    font-weight: normal;
    font-size: 12px;
    font-size: 0.75rem;
    margin-top: 10px;
    color: #e90303;
    padding-left: 10px; }

/*select 2*/
.select2-dropdown {
    border-radius: 0;
    border-color: #ede6e9; }

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background: white;
    color: #555; }

.select2-container--default .select2-results__option[aria-selected="true"] {
    background: #f9f9f9;
    color: #555; }

.select2-container--default li {
    border-bottom: 1px solid #ede6e9 !important;
    font-size: 12px;
    font-size: 0.75rem; }

.select2-container--default li:hover {
    background: #f9f9f9 !important;
    color: #555; }

span:focus {
    outline: 0 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 35px;
    width: 35px;
    text-align: center;
    border-left: 1px solid #ede6e9; }
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #ff7361 transparent transparent transparent;
    border-width: 5px 6px 0 6px;
    margin-top: -2px;
    margin-left: -6px; }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent  #ff7361 transparent;
    border-width: 0 6px 5px 6px; }

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 34px;
    font-size: 13px;
    font-size: 0.8125rem; }

.breadcrumb {
    background: none;
    margin: 0;
    border-bottom-width: 0; }
.breadcrumb li + li::before {
    content: "\e00a";
    font-family: "kanbkam-icons" !important;
    color: #ff8171;
    margin-left: -9px;
    margin-right: -5px;
    position: relative;
    top: 3px; }
.breadcrumb a {
    color: #909090;
    font-size: 12px;
    font-size: 0.75rem; }
.breadcrumb a:hover {
    color: #ff8171; }
.breadcrumb .active a {
    cursor: default; }
.breadcrumb .active a:hover {
    color: #909090; }

.table-bordered {
    border-color: #eae9e9; }

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    border-color: #eae9e9;
    border-right-width: 0;
    border-width: 0;
    border-bottom-width: 1px; }

.table-bordered > thead > tr > th {
    border-bottom-width: 2px; }

.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
    color: #7e7e7e;
    font-size: 13px;
    font-size: 0.8125rem; }

.table-bordered > tbody > tr > td {
    font-size: 12px;
    font-size: 0.75rem; }

.table-hover > tbody > tr:hover {
    background-color: #fdfdfd; }

.accordion .panel {
    border-color: #ececec;
    border-radius: 0;
    box-shadow: none; }
.accordion .panel .panel-heading {
    background: transparent;
    padding-top: 15px;
    padding-bottom: 15px; }
.accordion .panel .panel-title {
    color: #101114;
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 16px; }
.accordion .panel .panel-title a {
    color: #101114;
    position: relative;
    display: block;
    padding-left: 25px;
    padding-right: 30px;
    line-height: 24px; }
.accordion .panel .panel-title .icon-expand {
    color: #01dbd4;
    font-size: 20px;
    font-size: 1.25rem;
    position: relative;
    top: 6px;
    margin-right: 5px;
    position: absolute;
    top: 1px;
    left: 0; }
.accordion .panel .panel-title .count {
    right: 0;
    position: absolute;
    top: 0; }
.accordion .panel .panel-title .count span {
    position: absolute;
    color: #ff3a21;
    font-size: 14px;
    font-size: 0.875rem;
    background: #fff;
    border-radius: 100px;
    top: -5px;
    right: 1px;
    z-index: 1;
    padding: 3px;
    display: block;
    line-height: 11px; }
.accordion .panel .panel-title .count .icon-alert {
    color: #d3d3d3;
    font-size: 27px;
    font-size: 1.6875rem; }
.accordion .panel .panel-body {
    background: #fcfcfc; }
.accordion .panel.active .icon-expand:before {
    content: "\e011"; }
.accordion .panel + .panel {
    margin-top: 0;
    border-top-width: 0; }

.badge {
    border-radius: 0;
    font-size: 11px;
    font-size: 0.6875rem;
    background: #eae9e9;
    color: #101114;
    font-weight: normal;
    letter-spacing: 0.5px; }

.dropdown-menu {
    border-radius: 0; }

.pagination {
    float: right; }
.pagination li a,
.pagination li span {
    border-width: 0;
    padding: 1px 8px;
    color: #101114;
    font-size: 17px;
    font-size: 1.0625rem; }
.pagination li a:hover, .pagination li a:focus,
.pagination li span:hover,
.pagination li span:focus {
    background: #01dbd4;
    color: #fff; }
.pagination li:first-child a {
    border-radius: 0; }
.pagination li:last-child a {
    background: #01dbd4;
    color: #fff;
    border-radius: 0;
    padding: 3px 8px 2px;
    font-size: 15px;
    font-size: 0.9375rem; }
.pagination li:last-child span {
    border-width: 0; }
.pagination li.active a,
.pagination li.active a:focus,
.pagination li.active a:hover,
.pagination li.active a:active,
.pagination li.active span,
.pagination li.active span:focus,
.pagination li.active span:hover {
    background: #01dbd4; }

/*actions menu*/
.actions .actions-menu {
    margin: 0; }
.actions .actions-menu li {
    padding: 0; }
.actions .actions-menu li a {
    color: #b6b6b6;
    font-size: 11px;
    font-size: 0.6875rem;
    line-height: 15px;
    border-right: 1px solid #ececec;
    padding: 0 5px; }
.actions .actions-menu li a i {
    color: #01dbd4;
    font-size: 13px;
    font-size: 0.8125rem;
    position: relative;
    top: 6px; }
.actions .actions-menu li a:hover i {
    color: #bbbbbc; }
.actions .actions-menu li:last-child a {
    border-right-width: 0; }
.actions .dropdown {
    display: inline-block; }
.actions .dropdown > a {
    display: inline-block;
    width: 25px;
    color: #01dbd4;
    height: 13px;
    overflow: hidden; }
.actions .dropdown > a i {
    font-size: 20px;
    font-size: 1.25rem;
    height: 20px;
    position: relative;
    top: -3px; }
.actions .dropdown .dropdown-menu {
    left: auto;
    right: -9px;
    min-width: 50px;
    padding: 0; }
.actions .dropdown .dropdown-menu li a {
    padding: 5px; }

.filter-search {
    /* Demo 2 */ }
.filter-search input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box; }
.filter-search input::-webkit-search-decoration,
.filter-search input::-webkit-search-cancel-button {
    display: none; }
.filter-search input[type=search] {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s; }
.filter-search input[type=search] {
    width: 0px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer; }
.filter-search input[type=search]:hover {
    background-color: #fff; }
.filter-search input[type=search]:focus {
    width: 100px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: auto; }
.filter-search input:-moz-placeholder {
    color: transparent; }
.filter-search input::-webkit-input-placeholder {
    color: transparent; }

.price-range-panel {
    background: #fbfbfb; }

.price-range {
    display: block;
    padding-top: 20px;
    margin-bottom: 20px;
    direction: ltr; }

.rangeslider {
    height: 3px;
    box-shadow: none;
    border-width: 0;
    background: #eaeaea; }
.rangeslider .rangeslider__fill {
    background: #01dbd4;
    box-shadow: none; }
.rangeslider .rangeslider__handle {
    background: #01dbd4;
    box-shadow: none;
    width: 9px;
    height: 9px;
    border-radius: 0;
    border-width: 0;
    top: -3px; }
.rangeslider .rangeslider__handle::after {
    display: none; }

.rangeslider__value-bubble {
    display: block;
    padding: 0px 3px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 13px;
    text-align: center;
    border-bottom: 1px solid #ff7361;
    color: #01dbd4;
    margin-left: -23px;
    font-size: 11px;
    font-size: 0.6875rem; }
.rangeslider__value-bubble:before, .rangeslider__value-bubble:after {
    border-width: 4px;
    border-style: solid;
    border-color: transparent;
    content: "";
    display: block;
    margin: auto;
    width: 5px;
    position: absolute;
    left: auto;
    right: 0; }
.rangeslider__value-bubble:before {
    border-top-color: transparent;
    border-bottom-width: 0;
    bottom: -11px; }
.rangeslider__value-bubble:after {
    border-top-color: #ff7361;
    border-bottom-width: 0;
    bottom: -5px; }

.ui-menu .ui-menu-item {
    font-size: 12px;
    font-size: 0.75rem;
    color: #bbbbbc; }

.register-form-control, .register-div .form-group .select2-container .select2-selection--single, .forget-password .form-group .select2-container .select2-selection--single {
    border-width: 0;
    border-bottom-width: 1px;
    border-color: #f5f5f5;
    box-shadow: none;
    padding-left: 0;
    padding-bottom: 11px; }
.register-form-control:focus, .register-div .form-group .select2-container .select2-selection--single:focus, .forget-password .form-group .select2-container .select2-selection--single:focus {
    border-color: #01dbd4; }

.register-div, .forget-password, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div {
    position: relative;
    max-width: 410px;
    margin: 0 auto;
    margin-top: 50px; }
.register-div h4, .forget-password h4, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div h4 {
    font-size: 40px;
    font-size: 2.5rem;
    color: #01dbd4;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    margin-bottom: 30px; }
.register-div .form-group, .forget-password .form-group, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .form-group {
    margin-bottom: 30px; }
.register-div .form-group .row div:first-child, .forget-password .form-group .row div:first-child {
    padding-right: 0; }
.register-div .form-group .row div:last-child, .forget-password .form-group .row div:last-child {
    padding-left: 0;
    border-left: 1px solid #f5f5f5; }
.register-div .form-group .row div:last-child input, .forget-password .form-group .row div:last-child input {
    padding-left: 10px; }
.register-div .btn-default, .forget-password .btn-default, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .btn-default {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "font-bold", Helvetica, Arial, sans-serif; }
.register-div .btn-default:focus, .forget-password .btn-default:focus, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .btn-default:focus {
    box-shadow: none; }
.register-div .forger-password, .forget-password .forger-password, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .forger-password {
    font-size: 14px;
    font-size: 0.875rem;
    color: #101114;
    top: -5px;
    position: relative; }
.register-div .social-log, .forget-password .social-log, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log {
    text-align: center; }
.register-div .social-log p, .forget-password .social-log p, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log p {
    color: #101114;
    font-size: 14px;
    font-size: 0.875rem;
    margin: 0 0 30px; }
.register-div .social-log a, .forget-password .social-log a, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log a {
    height: 62px;
    width: 345px;
    display: inline-block;
    border: 1px solid #537bbd;
    background: url("../../img/social-login.png") no-repeat transparent; }
.register-div .social-log a.facebook, .forget-password .social-log a.facebook, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log a.facebook {
    background-position: 0 0; }

.forget-password {
    max-width: 500px; }
.forget-password h4 {
    margin-bottom: 0;
    margin-bottom: 30px; }
.forget-password p {
    font-size: 15px;
    font-size: 0.9375rem;
    color: #bbbbbc;
    margin-top: 30px; }
.forget-password .form-control, .forget-password .select2-container .select2-selection--single, .select2-container .forget-password .select2-selection--single {
    border-width: 1px;
    padding: 5px 15px;
    height: 50px; }
.forget-password .check {
    text-align: center; }
.forget-password .check span {
    border: 1px solid #e4e4e4;
    border-bottom-width: 2px;
    display: inline-block;
    width: 60px;
    height: 60px;
    padding-top: 13px; }
.forget-password .check span i {
    font-size: 30px;
    font-size: 1.875rem;
    color: #01dbd4; }

.separator {
    margin-top: 50px; }
@media screen and (max-width: 767px) {
    .separator {
        margin-top: 0; } }
.separator .col-sm-6:last-child {
    border-left: 1px solid #ecebeb; }
@media screen and (max-width: 767px) {
    .separator .col-sm-6:last-child {
        border-left-width: 0; } }

/* LAYOUTS - page layout styles */
.navbar-default {
    background-color: #fff;
    border-width: 0;
    border-radius: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 0;
    min-height: 0;
    position: relative;
    background: #fff; }
@media screen and (max-width: 767px) {
    .navbar-default .navbar-header {
        display: inline-block;
        margin-left: 0; } }
.navbar-default .navbar-header .navbar-brand {
    height: auto;
    margin-left: 0;
    width: 120px;
    display: inline-block;
    padding: 0;
    margin-top: 5px; }
.navbar-default .navbar-header .navbar-brand img {
    max-width: 100%;
    display: block; }
@media screen and (max-width: 767px) {
    .navbar-default .navbar-header + div {
        display: inline-block; } }
@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav {
        display: inline-block;
        margin: 0;
        position: relative;
        top: -9px; } }
@media screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li {
        display: inline-block; } }
.navbar-default .navbar-nav > li > a {
    color: #101114;
    font-size: 12px;
    font-size: 0.75rem;
    margin: 12px 0 0;
    padding: 0 8px;
    line-height: 12px;
    border-right: 1px solid #efe8eb; }
.navbar-default .navbar-nav > li > a:hover {
    color: #787979; }
.navbar-default .navbar-nav > li > a .icon-alert {
    font-size: 27px;
    font-size: 1.6875rem;
    top: -5px;
    display: block;
    line-height: 15px; }
.navbar-default .navbar-nav > li:last-child > a {
    border-right-width: 0; }
.navbar-default .navbar-nav > li.separetor span {
    position: absolute;
    width: 1px;
    height: 55px;
    background: #efe8eb;
    top: -8px;
    right: 0; }
.navbar-default .navbar-nav > li.dropdown > a > span {
    color: #787979; }
.navbar-default .navbar-nav > li.dropdown > a i {
    margin-right: 5px;
    color: #bbbbbc; }
.navbar-default .navbar-nav > li.dropdown.open > a {
    background: transparent;
    border-color: #efe8eb; }
.navbar-default .navbar-nav > li.dropdown.open > a i {
    color: #01dbd4; }
.navbar-default .navbar-nav > li.dropdown.open .dropdown-menu {
    margin-top: 20px; }
.navbar-default .navbar-nav > li.dropdown.open .dropdown-menu a {
    font-size: 12px;
    font-size: 0.75rem;
    padding-top: 6px;
    padding-bottom: 6px; }
.navbar-default .navbar-nav > li.dropdown.open .dropdown-menu:after, .navbar-default .navbar-nav > li.dropdown.open .dropdown-menu:before {
    bottom: 100%;
    right: 5px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
.navbar-default .navbar-nav > li.dropdown.open .dropdown-menu:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: rgba(0, 0, 0, 0.15);
    border-width: 8px;
    margin-left: -8px; }
.navbar-default .navbar-nav > li.dropdown.open .dropdown-menu:before {
    border-color: rgba(194, 225, 245, 0);
    border-width: 14px;
    margin-left: -14px; }
.navbar-default .navbar-nav .alert-div {
    position: relative; }
.navbar-default .navbar-nav .alert-div a span {
    position: absolute;
    border-radius: 100px;
    background-color: #01dbd4;
    color: #fff;
    padding: 3px 6px;
    top: -10px;
    right: 2px;
    font-size: 11px;
    font-size: 0.6875rem; }
.navbar-default .navbar-nav.country-list > li a {
    padding: 0 5px; }
.navbar-default .country-list {
    margin-left: 5px; }
.navbar-default .country-list li a {
    color: #bec1cb; }
.navbar-default .country-list li.active a {
    font-weight: bold;
    letter-spacing: 0.5px;
    color: #101114;
    background: transparent;
    cursor: default; }
.navbar-default .country-list li.active a:hover {
    background: transparent;
    color: #101114; }
.navbar-default .switch-lang {
    font-family: Tahoma,Geneva,sans-serif; }

/*mega-site-menu*/
.categories-nav > ul {
    margin: 0; }
.categories-nav > ul > li > a,
.categories-nav > ul > li .cd-dropdown-trigger {
    height: auto;
    line-height: 20px;
    color: #c5c5c5;
    position: relative;
    top: -3px;
    font-size: 14px;
    font-size: 0.875rem;
    letter-spacing: 0.5px; }
.categories-nav > ul > li > a:hover,
.categories-nav > ul > li .cd-dropdown-trigger:hover {
    text-decoration: none;
    color: #fff; }
.categories-nav > ul > li > a .icon-menu-more-icon,
.categories-nav > ul > li .cd-dropdown-trigger .icon-menu-more-icon {
    font-size: 26px;
    font-size: 1.625rem;
    top: 10px; }
.categories-nav .cd-dropdown-wrapper {
    margin: 0; }
@media (min-width: 768px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger {
        background: #fff;
        padding: 6px 15px;
        padding-right: 0; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger.dropdown-is-active:hover {
        background: #fff; } }
@media (min-width: 992px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger {
        background: #101114;
        border-right: 1px solid #262626;
        padding-top: 16px;
        padding-bottom: 20px;
        padding-right: 40px;
        padding-left: 0;
        font-family: "font-thin", Helvetica, Arial, sans-serif;
        font-size: 23px;
        font-size: 1.4375rem;
        text-shadow: 0 0 1px black;
        top: 0;
        line-height: 20px; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger.dropdown-is-active:hover {
        background: #101114; } }
@media screen and (max-width: 767px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger {
        background: #fff;
        padding: 6px 15px;
        padding-right: 0; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger.dropdown-is-active:hover {
        background: #fff; } }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger i {
    color: #01dbd4;
    top: 4px; }
@media (min-width: 768px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger i {
        font-size: 27px;
        font-size: 1.6875rem; } }
@media (min-width: 992px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger i {
        font-size: 22px;
        font-size: 1.375rem; } }
@media screen and (max-width: 767px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger i {
        font-size: 27px;
        font-size: 1.6875rem; } }
@media (min-width: 768px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::before, .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::after {
        display: none; } }
@media (min-width: 992px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::before, .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::after {
        display: block; } }
@media screen and (max-width: 767px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::before, .categories-nav .cd-dropdown-wrapper .cd-dropdown-trigger::after {
        display: none; } }
.categories-nav .cd-dropdown-wrapper .cd-dropdown {
    margin-top: 27px; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown h2 {
    background: #fafafa;
    border-bottom-color: transparent;
    margin-top: -23px;
    height: auto;
    border-bottom: 1px solid #e2e2e2; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info h3 {
    color: #101114; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info h3 a {
    font-size: 13px;
    font-size: 0.8125rem;
    display: block;
    font-family: Arial;
    padding: 10px 0;
    padding-bottom: 5px;
    color: #bbbbbc; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info p {
    padding-left: 10px;
    height: auto;
    line-height: 20px;
    margin-top: -5px; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info p a {
    font-size: 13px;
    font-size: 0.8125rem;
    color: #787979;
    font-family: Arial; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info p a span {
    border-radius: 100px;
    color: #ff3a21;
    background: #fff; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown .account-info a {
    border-bottom-width: 0 !important;
    background: none;
    font-size: 13px;
    font-size: 0.8125rem; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content a {
    border-width: 0;
    border-bottom-width: 1px;
    font-family: Arial;
    font-size: 13px;
    font-size: 0.8125rem;
    height: auto;
    line-height: 20px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 40px;
    padding-left: 20px; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content a:hover, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content a.is-active {
    color: #101114 !important;
    background-color: #f5f5f5;
    border-left-width: !important;
    box-shadow: 0; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div {
    max-width: 100%;
    padding: 30px 15px;
    background: #f6f6f6;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password .btn-group, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .btn-group {
    display: block;
    width: 100%;
    text-align: center; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password .btn-group .btn-default, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .btn-group .btn-default {
    display: inline-block;
    width: auto;
    width: 45%;
    float: none; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password .btn-group .btn-default:first-child, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .btn-group .btn-default:first-child {
    margin-right: 15px; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password a:hover, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div a:hover {
    background-color: transparent !important; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password .social-log p, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log p {
    margin-top: 30px; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .forget-password .social-log .facebook, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .social-log .facebook {
    background-color: #fff; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .cd-dropdown-icons {
    padding: 0; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .cd-dropdown-icons > li {
    width: auto;
    min-width: 280px;
    float: none;
    border-width: 0;
    height: auto;
    margin: 0;
    padding: 0; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .cd-dropdown-icons > li a {
    color: #787979;
    font-size: 13px;
    font-size: 0.8125rem;
    cursor: pointer;
    padding: 0;
    height: auto;
    padding: 7px 15px;
    border-bottom: 1px solid #ebebeb; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .has-children > a.is-active {
    box-shadow: inset 0 0 0 #3f8654; }
.categories-nav .cd-dropdown-wrapper .cd-dropdown-content .has-children > a.is-active::before, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .has-children > a.is-active::after {
    background: #101114 !important; }

@media only screen and (max-width: 1014px) {
    .no-scroll {
        overflow: hidden; }

    .cd-dropdown {
        background: #fff; } }
@media only screen and (max-width: 1014px) and (min-width: 768px) {
    .categories-nav {
        position: absolute;
        z-index: 1;
        right: 0;
        top: -50px; } }
@media only screen and (max-width: 1014px) and (min-width: 992px) {
    .categories-nav {
        position: static; } }
@media only screen and (max-width: 1014px) and (max-width: 767px) {
    .categories-nav {
        position: absolute;
        z-index: 1;
        right: 0;
        top: -50px; } }
@media only screen and (max-width: 1014px) {
    .categories-nav .cd-dropdown-wrapper .cd-dropdown {
        margin-top: 0; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-dropdown-content li a {
        border-width: 0;
        border-bottom-width: 1px;
        font-size: 13px;
        font-size: 0.8125rem;
        color: #101114 !important;
        border-color: #eae9e9;
        line-height: 20px;
        height: auto;
        padding: 10px 15px; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-dropdown-content li a:hover, .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-dropdown-content li a.is-active {
        color: #101114 !important;
        background-color: #f5f5f5;
        border-left-width: !important;
        box-shadow: 0; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-dropdown-content li .go-back a {
        padding-left: 36px;
        color: #bbbbbc !important;
        font-size: 13px;
        font-size: 0.8125rem; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-close {
        background: #01dbd4;
        margin-right: 15px; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-close::before, .categories-nav .cd-dropdown-wrapper .cd-dropdown .cd-close::after {
        background-color: #fff; }
    .categories-nav .cd-dropdown-wrapper .cd-dropdown h2 + .cd-close {
        margin-right: 0; }

    .cd-dropdown-content, .cd-dropdown-content ul {
        padding-top: 0; }

    h2 + .cd-close + .cd-dropdown-content {
        padding-top: 95px;
        padding-bottom: 0; }
    h2 + .cd-close + .cd-dropdown-content .has-children ul {
        margin-top: 95px; }

    .cd-dropdown-content .cd-dropdown-gallery .cd-dropdown-item, .cd-dropdown-content .cd-dropdown-icons .cd-dropdown-item {
        height: auto !important; }

    .has-children > a::before, .has-children > a::after {
        background: #787979; }

    .go-back a::before, .go-back a::after {
        background: #ff3a21; } }
@media only screen and (min-width: 1024px) {
    .cd-dropdown-content .cd-dropdown-icons {
        height: 100%;
        width: 100%; } }
/*brand row*/
.search-row {
    background: #101114;
    height: 64px;
    position: relative; }
.search-row .input-group {
    padding: 10px 0;
    z-index: 0; }
.search-row .input-group .form-control, .search-row .input-group .select2-container .select2-selection--single, .select2-container .search-row .input-group .select2-selection--single {
    height: 40px;
    border-width: 0;
    font-size: 12px; }
.search-row .input-group .btn {
    height: 40px;
    font-size: 21px;
    font-size: 1.3125rem; }
.search-row .input-group .btn i {
    top: 1px; }

.modal-dialog {
    margin-top: 0; }
.modal-dialog .register-div .modal-header, .modal-dialog .forget-password .modal-header, .modal-dialog .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .modal-header, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .modal-dialog .register-div .modal-header {
    border-bottom-width: 0;
    padding-bottom: 0; }
.modal-dialog .register-div .modal-body, .modal-dialog .forget-password .modal-body, .modal-dialog .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .register-div .modal-body, .categories-nav .cd-dropdown-wrapper .cd-dropdown-content .modal-dialog .register-div .modal-body {
    padding-top: 0; }

.footer {
    margin-top: -180px;
    background: #f5f5f5;
    border-top: 1px solid #e7e7e7;
    padding: 25px 0;
    height: 180px; }
.footer ul {
    margin-bottom: 0; }
.footer p {
    font-size: 11px;
    font-size: 0.6875rem;
    margin-top: 10px;
    color: #3c3c3f; }
.footer figure {
    font-family: "font-bold", Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-size: 1.3125rem;
    margin-bottom: 8px;
    max-width: 120px; }
.footer figure img {
    max-width: 100%; }
.footer a {
    font-size: 11px;
    font-size: 0.6875rem;
    color: #101114; }
.footer a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
.footer .social-links {
    margin-bottom: 0;
    margin-top: 9px; }
.footer .social-links li {
    padding: 0; }
.footer .social-links li:first-child {
    margin-left: 5px; }
.footer .social-links a {
    width: 21px;
    height: 21px;
    display: inline-block; }
.footer .social-links a:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); }
.footer .social-links a.facebook {
    background-position: 0 0; }
.footer .social-links a.twitter {
    background-position: -22px 0; }
.footer .social-links a.linkedin {
    background-position: -44px 0; }
.footer .subscribe label {
    font-weight: normal;
    color: #101114;
    font-size: 18px;
    font-size: 1.125rem;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 12px; }
.footer .subscribe label .form-control, .footer .subscribe label .select2-container .select2-selection--single, .select2-container .footer .subscribe label .select2-selection--single {
    z-index: 0; }
.footer .subscribe label span {
    display: block;
    font-family: Arial;
    font-size: 11.5px;
    font-size: 0.71875rem;
    color: #a1a1a1;
    letter-spacing: 0; }
.footer .subscribe .btn {
    padding-top: 8px;
    padding-bottom: 8px; }

/* STATE - page of site*/
/*Cover image */
.cover-image {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 442px;
    background: url("../../img/cover-img.jpg") center center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
@media screen and (max-width: 767px) {
    .cover-image {
        background: url("../../img/cover-img-xs.jpg") center center no-repeat; } }
.cover-image h2 {
    -webkit-animation-delay: 0.1s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.1s;
    font-size: 55px;
    font-size: 3.4375rem;
    color: #01dbd4;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    margin-top: 50px; }
.cover-image h2 b {
    font-weight: normal;
    color: #ff3a21;
    font-family: "font-bold", Helvetica, Arial, sans-serif;
    margin-right: -5px; }
.cover-image p {
    -webkit-animation-delay: 0.8s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.8s;
    font-size: 13px;
    font-size: 0.8125rem;
    color: #c5c5c5;
    line-height: 20px;
    letter-spacing: 0.5px;
    max-width: 450px;
    text-align: justify;
    padding-left: 15px; }
@media screen and (max-width: 767px) {
    .cover-image p {
        max-width: 100%; } }
.cover-image p span {
    display: block;
    margin-bottom: 10px; }
.cover-image .kanbkam-service {
    overflow: hidden;
    display: block; }
.cover-image .kanbkam-service ul {
    overflow: visible;
    margin: 25px 0;
    float: right; }
.cover-image .kanbkam-service ul li {
    -webkit-animation-delay: 1.5s;
    /* Chrome, Safari, Opera */
    animation-delay: 1.5s;
    margin: 0 -2px;
    padding: 0;
    width: 50%; }
.cover-image .kanbkam-service ul li:nth-child(2) {
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-delay: 1s; }
.cover-image .kanbkam-service ul li:last-child {
    display: block;
    -webkit-animation-delay: 1s;
    /* Chrome, Safari, Opera */
    animation-delay: 1s; }
.cover-image .kanbkam-service ul li img {
    width: 100%; }

.categ-tabs, .related-products {
    margin-top: 20px; }

.related-categ {
    -webkit-animation-delay: 2.5s;
    /* Chrome, Safari, Opera */
    animation-delay: 2.5s; }

.banner.in-listing {
    margin-top: 10px;
    -webkit-animation-delay: 0.1s;
    /* Chrome, Safari, Opera */
    animation-delay: 0.1s; }

.search-result .no-data-filter {
    padding-top: 60px; }
.search-result h2 {
    font-size: 25px;
    font-size: 1.5625rem;
    color: #101114;
    display: inline-block;
    margin: 0;
    letter-spacing: 0.5px; }
.search-result h2 span {
    display: block;
    font-size: 12px;
    font-size: 0.75rem;
    font-family: Arial;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin-top: 5px; }
.search-result .sort-by {
    float: right;
    position: relative; }
@media (min-width: 768px) {
    .search-result .sort-by {
        width: 300px;
        padding-right: 55px;
        margin-top: 10px; } }
@media (min-width: 992px) {
    .search-result .sort-by {
        width: 160px;
        padding-right: 0;
        margin-top: 0; } }
@media screen and (max-width: 767px) {
    .search-result .sort-by {
        display: block;
        position: relative;
        width: 100%;
        padding-right: 15%;
        margin-bottom: 15px;
        margin-top: 10px; } }
.search-result .btn-filter-mob {
    position: absolute;
    top: 10px;
    background: #fff;
    color: #01dbd4;
    border-width: 1px;
    border-color: #01dbd4;
    right: 15px;
    font-size: 17px;
    font-size: 1.0625rem; }
.search-result .btn-filter-mob i {
    top: 3px; }
.search-result .products-list {
    border-left: 1px solid #eaeaea;
    margin-top: 20px; }
.search-result .products-list .thumbnail:first-child {
    border-left-width: 0; }
.search-result .loading {
    display: block;
    text-align: center; }

.filter {
    padding-right: 15px;
    margin-top: 15px; }
.filter > div {
    border: 1px solid #eaeaea; }
.filter > div header h4 {
    font-family: "font-bold", Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-size: 1.0625rem;
    color: #101114;
    line-height: 12px;
    padding: 15px;
    margin: 0; }
.filter > div header h4 a {
    color: #01dbd4;
    font-size: 27px;
    font-size: 1.6875rem;
    float: right;
    position: relative;
    top: -7px; }
.filter > div header h4 a:hover {
    color: #bbbbbc; }
.filter > div .panel {
    border: 0 solid #eaeaea;
    border-top-width: 1px;
    border-radius: 0;
    box-shadow: none;
    padding-bottom: 10px;
    margin-bottom: 0; }
.filter > div .panel .panel-heading {
    border-radius: 0;
    background: none;
    border-width: 0;
    padding: 0; }
.filter > div .panel .panel-heading h4 {
    padding: 0;
    position: relative;
    font-weight: normal; }
.filter > div .panel .panel-heading h4 a {
    display: inline-block;
    padding: 15px;
    font-family: Arial;
    color: #101114;
    font-size: 13px;
    font-size: 0.8125rem;
    overflow: auto; }
.filter > div .panel .panel-heading h4 a i {
    color: #01dbd4;
    font-size: 10px;
    font-size: 0.625rem;
    top: 0; }
.filter > div .panel .panel-heading h4 form {
    position: absolute;
    right: 0;
    top: 0; }
.filter > div .panel .panel-heading h4 form .form-control, .filter > div .panel .panel-heading h4 form .select2-container .select2-selection--single, .select2-container .filter > div .panel .panel-heading h4 form .select2-selection--single {
    border-width: 0;
    background: none;
    z-index: 1;
    position: relative;
    padding: 9px 10px 9px 32px;
    height: 26px;
    font-family: Arial;
    font-size: 13px;
    font-size: 0.8125rem; }
.filter > div .panel .panel-heading h4 form .form-control:focus, .filter > div .panel .panel-heading h4 form .select2-container .select2-selection--single:focus, .select2-container .filter > div .panel .panel-heading h4 form .select2-selection--single:focus {
    border-bottom-width: 1px; }
.filter > div .panel .panel-heading h4 form span {
    position: absolute;
    left: 8px;
    top: 13px;
    z-index: 0;
    color: #01dbd4; }
.filter > div .panel .panel-heading h4 form .form-control:focus + span, .filter > div .panel .panel-heading h4 form .select2-container .select2-selection--single:focus + span, .select2-container .filter > div .panel .panel-heading h4 form .select2-selection--single:focus + span {
    color: #bbbbbc; }
.filter > div .panel .panel-body {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 30px;
    padding-right: 10px;
    max-height: 500px;
    overflow-y: auto; }
.filter > div .panel .panel-body ul li {
    padding-top: 5px;
    padding-bottom: 5px; }
.filter > div .panel .panel-body ul li a {
    font-size: 11px;
    font-size: 0.6875rem;
    opacity: 0.65;
    filter: alpha(opacity=65);
    color: #101114;
    display: table;
    width: 100%;
    overflow: auto; }
.filter > div .panel .panel-body ul li a span {
    display: table-cell;
    vertical-align: top;
    word-wrap: break-word; }
.filter > div .panel .panel-body ul li a .badge {
    float: right;
    opacity: 0.55;
    filter: alpha(opacity=55);
    background: transparent;
    padding: 3px 2px; }
.filter > div .panel .panel-body ul li a .glyphicon-remove {
    font-size: 8px;
    font-size: 0.5rem;
    color: #101114;
    background: #eaeaea;
    border-radius: 50%;
    padding: 5px; }
.filter > div .panel .panel-body ul li a:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
.filter > div .panel .panel-body ul li.active a {
    color: #ff3a21;
    opacity: 0.55;
    filter: alpha(opacity=55);
    overflow: visible; }
.filter > div .panel .panel-body ul.has-active {
    position: relative;
    padding-top: 26px; }
.filter > div .panel .panel-body ul.has-active li.active {
    position: absolute;
    top: 0;
    width: 100%; }
.filter > div .panel .panel-body form .form-group {
    padding: 0;
    margin: 10 0 10px; }
.filter > div .panel .panel-body form .form-group .form-control, .filter > div .panel .panel-body form .form-group .select2-container .select2-selection--single, .select2-container .filter > div .panel .panel-body form .form-group .select2-selection--single {
    height: 30px; }
.filter > div .panel .panel-body form .form-group:last-child {
    margin-left: -1px; }
.filter > div .panel .panel-body form .btn-default {
    display: block;
    width: 100%;
    border-width: 1px;
    color: #01dbd4;
    background: #fff;
    border-color: #01dbd4;
    font-size: 11px;
    font-size: 0.6875rem;
    opacity: 0.7;
    filter: alpha(opacity=70); }
.filter > div .panel .panel-body form .btn-default:hover {
    opacity: 1;
    filter: alpha(opacity=100); }
.filter > div .panel .panel-body .checkbox {
    margin-top: 0; }
.filter > div .panel .panel-body .checkbox label {
    padding-left: 0;
    display: block;
    font-size: 11px;
    font-size: 0.6875rem;
    opacity: 0.65;
    filter: alpha(opacity=65);
    color: #101114; }
.filter > div .panel .panel-body .checkbox label input {
    right: 0;
    margin-left: 0; }
.filter > div .panel .price-drop .panel-body {
    overflow: visible; }
.filter > div .panel.active .panel-heading i:before {
    content: "\e114"; }

header .filter {
    padding-right: 0; }

.price-lable, .product-info .col-md-6 .price .current-price, .product-info .col-md-6 .price-summary li h6 {
    font-size: 12px;
    font-size: 0.75rem;
    color: #bbbbbc;
    display: block; }

.breadcrumb-row {
    margin-top: -20px; }
.breadcrumb-row .sort-by {
    max-width: 180px;
    float: right; }
@media screen and (max-width: 767px) {
    .breadcrumb-row .sort-by {
        max-width: 100%;
        float: none;
        margin-top: 10px; } }
.breadcrumb-row .breadcrumb {
    padding: 6px 0 0; }
@media screen and (max-width: 767px) {
    .breadcrumb-row .breadcrumb li:last-child {
        display: none; } }

.product-info {
    margin-top: 10px; }
@media (min-width: 992px) {
    .product-info {
        display: table;
        width: 100%; } }
.product-info .col-md-6 {
    border: 1px solid #eae9e9;
    border-right-width: 0;
    border-left-width: 0;
    margin-top: 10px;
    vertical-align: top; }
@media (min-width: 992px) {
    .product-info .col-md-6 {
        display: table-cell;
        float: none; } }
.product-info .col-md-6:first-child {
    vertical-align: middle;
    text-align: center;
    padding-right: 30px; }
@media (min-width: 768px) {
    .product-info .col-md-6:first-child {
        border-bottom-width: 0; } }
@media (min-width: 992px) {
    .product-info .col-md-6:first-child {
        border-bottom-width: 1px; }
    .product-info .col-md-6:first-child .separator {
        position: absolute;
        height: 100%;
        width: 1px;
        background: #eae9e9;
        margin-top: 0;
        right: 30px;
        top: 0; } }
@media screen and (max-width: 767px) {
    .product-info .col-md-6:first-child {
        border-bottom-width: 0; } }
.product-info .col-md-6:last-child {
    padding: 0; }
.product-info .col-md-6 figure {
    display: block;
    overflow: hidden;
    padding: 10px 0;
    padding-right: 30px; }
.product-info .col-md-6 figure img {
    max-width: 100%; }
.product-info .col-md-6 header h1 {
    font-size: 25px;
    font-size: 1.5625rem;
    line-height: 40px;
    letter-spacing: 0.5px;
    border-bottom: 1px solid #eae9e9;
    padding-bottom: 10px;
    margin-bottom: 20px; }
.product-info .col-md-6 .price {
    display: inline-block; }
.product-info .col-md-6 .price .current-price {
    display: block; }
.product-info .col-md-6 .price p {
    font-size: 38px;
    font-size: 2.375rem;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    line-height: 25px;
    margin-top: 10px;
    display: inline-block; }
.product-info .col-md-6 .price .old-price {
    display: inline-block;
    font-size: 17px;
    font-size: 1.0625rem;
    margin-left: 15px; }
.product-info .col-md-6 .currency {
    font-family: Arial;
    font-size: 11px;
    font-size: 0.6875rem;
    color: #bbbbbc;
    text-transform: capitalize;
    margin-left: 2px;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.3); }
.product-info .col-md-6 .buy-now {
    display: inline-block;
    float: right;
    margin-top: 8px; }
.product-info .col-md-6 .buy-now a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-right: 49px;
    padding-left: 36px;
    position: relative;
    height: 41px;
    line-height: 25px;
    line-height: 28px;
    font-size: 15px;
    font-size: 0.9375rem; }
.product-info .col-md-6 .buy-now a .souq-logo {
    width: 41px;
    height: 42px;
    background-position: 0 -95px;
    position: absolute;
    right: 0;
    top: -1px; }
.product-info .col-md-6 .buy-now a i {
    font-size: 24px;
    font-size: 1.5rem;
    position: absolute;
    left: 11px;
    top: 9px; }
.product-info .col-md-6 .price-summary {
    border: 1px solid #ececec;
    background: #fdfdfd;
    display: flex;
    margin: 11px 0 15px; }
.product-info .col-md-6 .price-summary li {
    border-right: 1px solid #ececec;
    padding: 20px 10px;
    text-align: center;
    flex-grow: 3; }
.product-info .col-md-6 .price-summary li div {
    display: inline-block;
    text-align: left; }
.product-info .col-md-6 .price-summary li h6 {
    margin: 0; }
.product-info .col-md-6 .price-summary li .value {
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-size: 1.6875rem;
    line-height: 30px; }
.product-info .col-md-6 .price-summary li .equal {
    color: #bbbbbc;
    font-size: 20px;
    font-size: 1.25rem; }
.product-info .col-md-6 .price-summary li .currency-value {
    font-size: 20px;
    font-size: 1.25rem;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    position: relative;
    top: -2px; }
.product-info .col-md-6 .price-summary li .currency {
    margin-left: -1px;
    position: relative;
    top: -1px; }
.product-info .col-md-6 .price-summary li:last-child {
    border-right-width: 0; }
.product-info .col-md-6 .expected-price {
    display: block;
    overflow: auto; }
.product-info .col-md-6 .expected-price p {
    color: #9a9a9a;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 16px;
    display: inline-block; }
.product-info .col-md-6 .expected-price p i {
    color: #d3d3d3;
    font-size: 21px;
    font-size: 1.3125rem;
    position: relative;
    top: 5px; }
.product-info .col-md-6 .expected-price .social-share {
    float: right;
    margin-bottom: 0; }
.product-info .col-md-6 .expected-price .social-share li {
    padding: 0; }
.product-info .col-md-6 .expected-price .social-share li a {
    width: 25px;
    height: 24px;
    display: block;
    position: relative; }
.product-info .col-md-6 .expected-price .social-share li a:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); }
.product-info .col-md-6 .expected-price .social-share li .facebook {
    background-position: 0 -21px; }
.product-info .col-md-6 .expected-price .social-share li .twitter {
    background-position: 0 -46px; }
.product-info .col-md-6 .expected-price .social-share li .linked-in {
    background-position: 0 -71px; }

.allert-div, .alert-page .panel-body {
    margin-top: 10px;
    border-top: 1px solid #eae9e9;
    padding-top: 25px; }
.allert-div h3, .alert-page .panel-body h3 {
    font-size: 20px;
    font-size: 1.25rem;
    color: #101114;
    margin: 0 0 8px; }
.allert-div h3 .add-alert, .alert-page .panel-body h3 .add-alert {
    width: 23px;
    height: 25px;
    display: inline-block;
    font-size: 24px;
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    top: 6px;
    color: #01dbd4; }
.allert-div h3 .add-alert .icon-alert, .alert-page .panel-body h3 .add-alert .icon-alert {
    top: 4px; }
.allert-div h3 .add-alert .plus, .alert-page .panel-body h3 .add-alert .plus {
    background: #fff;
    font-size: 16px;
    font-size: 1rem;
    left: 13px;
    height: 12px;
    position: absolute;
    top: 6px;
    width: 12px;
    color: #ff3a21;
    line-height: 9px;
    border-radius: 100px; }
.allert-div h3 p, .alert-page .panel-body h3 p {
    font-size: 12px;
    font-size: 0.75rem;
    color: #bfbfbf;
    display: inline-block;
    font-family: Arial;
    letter-spacing: 0; }
.allert-div .table-bordered > tbody > tr > td, .alert-page .panel-body .table-bordered > tbody > tr > td {
    color: #afafaf; }
.allert-div .table-bordered > tbody > tr > td .btn, .alert-page .panel-body .table-bordered > tbody > tr > td .btn {
    font-size: 11px;
    font-size: 0.6875rem;
    padding: 2px 5px;
    letter-spacing: 0.5px;
    line-height: 16px;
    vertical-align: middle; }
.allert-div .table-bordered > tbody > tr > td:last-child, .alert-page .panel-body .table-bordered > tbody > tr > td:last-child {
    text-align: right; }
.allert-div .form-group, .alert-page .panel-body .form-group {
    margin: 0; }
.allert-div .form-group .input-group-addon, .alert-page .panel-body .form-group .input-group-addon {
    border-radius: 0;
    background: transparent;
    border-width: 0;
    color: #afafaf;
    padding: 4px 8px;
    padding-left: 0;
    font-size: 12px;
    font-size: 0.75rem; }
.allert-div .form-group .form-control, .alert-page .panel-body .form-group .form-control, .allert-div .form-group .select2-container .select2-selection--single, .select2-container .allert-div .form-group .select2-selection--single, .alert-page .panel-body .form-group .select2-container .select2-selection--single, .select2-container .alert-page .panel-body .form-group .select2-selection--single {
    max-width: 65px;
    height: 20px;
    font-size: 11px;
    font-size: 0.6875rem;
    padding: 3px 5px; }

.details-tabs-section h3, .price-history h3, .product-souq-info h3 {
    margin: 0 0 20px; }
.details-tabs-section .nav-tabs, .price-history .nav-tabs, .product-souq-info .nav-tabs {
    margin: 0;
    background: #fcfcfc;
    border: 1px solid #ececec;
    border-bottom-width: 0; }
.details-tabs-section .nav-tabs li, .price-history .nav-tabs li, .product-souq-info .nav-tabs li {
    padding: 15px 10px;
    margin: 0; }
.details-tabs-section .nav-tabs li:first-child, .price-history .nav-tabs li:first-child, .product-souq-info .nav-tabs li:first-child {
    padding-left: 15px; }
.details-tabs-section .tab-content, .price-history .tab-content, .product-souq-info .tab-content {
    border: 1px solid #ececec; }

.price-history .chart-div {
    padding-left: 0; }
@media screen and (max-width: 767px) {
    .price-history .chart-div {
        padding-left: 15px; } }
.price-history .chart-div div {
    display: block;
    max-width: 100%;
    height: 215px;
    overflow: hidden;
    padding-right: 15px;
    text-align: center; }
@media screen and (max-width: 767px) {
    .price-history .chart-div div {
        border-top: 1px solid #ececec;
        height: auto;
        padding: 10px; } }
.price-history .chart-div div img {
    max-width: 100%;
    width: auto; }
.price-history table {
    border-width: 0;
    border-right-width: 1px;
    margin-bottom: 0; }
@media screen and (max-width: 767px) {
    .price-history table {
        border-right-width: 0; } }
.price-history table tr td, .price-history table tr th {
    font-size: 13px;
    font-size: 0.8125rem;
    padding: 15px;
    line-height: 12px; }
.price-history table tr:last-child td {
    border-bottom-width: 0; }

.product-souq-info .nav-tabs li {
    padding: 0; }
.product-souq-info .nav-tabs li:first-child {
    padding-left: 0; }
.product-souq-info .nav-tabs li.active a {
    border-bottom-width: 0;
    color: #101114; }
.product-souq-info .nav-tabs li a {
    padding: 15px 10px;
    color: #aeaeae; }
.product-souq-info .nav-tabs li a:first-child {
    padding-left: 15px; }
.product-souq-info .tab-pane {
    padding: 15px; }
.product-souq-info .tab-pane p {
    font-size: 12px;
    font-size: 0.75rem;
    color: #878787;
    line-height: 20px; }
.product-souq-info .tab-pane .dl-horizontal {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 25px; }
.product-souq-info .tab-pane .dl-horizontal dt {
    text-align: left;
    color: #aeaeae;
    line-height: 25px; }
.product-souq-info .tab-pane .dl-horizontal dd {
    line-height: 25px; }

.banner-indetails {
    margin-top: 93px;
    padding-left: 0;
    text-align: right; }

.related-products header {
    display: inline-block; }
.related-products header h3 {
    margin-top: 0;
    margin-bottom: 20px; }
.related-products .nav-tabs {
    float: right;
    margin: 15px 0 0; }
.related-products .nav-tabs li {
    margin: 0 5px; }
.related-products .products-list {
    margin-left: 0; }
.related-products .slick-arrow {
    border-width: 0;
    background: #01dbd4;
    color: #fff;
    position: absolute; }
@media (min-width: 992px) {
    .related-products .slick-arrow {
        bottom: auto;
        top: 50%;
        margin-top: -15px; } }
@media (min-width: 992px) {
    .related-products .slick-arrow.slick-prev {
        left: 0; } }
@media (min-width: 992px) {
    .related-products .slick-arrow.slick-next {
        left: auto;
        right: 0; } }
.related-products .slick-arrow:hover {
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100); }
.related-products .slick-arrow.slick-disabled {
    background: #e2e2e2;
    cursor: default;
    color: #fff;
    opacity: 1;
    filter: alpha(opacity=100); }
@-moz-document url-prefix() {
    .related-products .slick-arrow::before {
        top: -3px; } }
.related-products .navegat-carousel {
    bottom: auto;
    border-width: 0;
    position: static; }
.related-products .navegat-carousel .carousel-control {
    width: 30px;
    height: 30px;
    background: #01dbd4;
    color: #fff;
    top: 50%;
    margin-top: -15px;
    border-width: 0; }
.related-products .navegat-carousel .carousel-control span {
    top: -4px; }
.related-products .navegat-carousel .carousel-control:hover {
    color: #fff;
    opacity: 0.9;
    filter: alpha(opacity=90); }
.related-products .navegat-carousel .carousel-control.disabled {
    background: #e2e2e2;
    cursor: default;
    color: #fff; }
.related-products .navegat-carousel .carousel-control.disabled span {
    opacity: 1;
    filter: alpha(opacity=100); }
.related-products .navegat-carousel .carousel-control.right {
    left: auto; }

.alert-page h2 {
    font-size: 26px;
    font-size: 1.625rem;
    color: #101114;
    line-height: 20px;
    margin-bottom: 25px;
    margin-top: 0; }
.alert-page h2 span {
    display: inline-block;
    position: relative;
    top: 7px;
    margin-right: 5px; }
.alert-page h2 span .icon-alert {
    color: #dedede;
    font-size: 35px;
    font-size: 2.1875rem; }
.alert-page h2 span .icon-sand-clock {
    position: absolute;
    top: 6px;
    right: -1px;
    color: #01dbd4;
    font-size: 20px;
    font-size: 1.25rem;
    height: 20px;
    background: #fff; }
.alert-page .panel-body {
    background: #fcfcfc; }
.alert-page .panel-body table {
    background: #fff;
    margin-bottom: 0; }
.alert-page .panel-body table tr td:last-child {
    text-align: right; }
.alert-page .panel-body table .btn-default {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 1px 5px; }
.alert-page .pagination {
    margin-top: 0; }
.alert-page .accordion .panel .panel-title .product-page {
    position: absolute;
    display: inline-block;
    padding: 0;
    right: 35px;
    margin-top: -20px; }
.alert-page .accordion .panel .panel-title .product-page i {
    color: #d3d3d3;
    font-size: 20px;
    font-size: 1.25rem; }
.alert-page .accordion .panel .panel-title .product-page:hover i {
    color: #01dbd4; }

.error-main {
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    left: 50%;
    margin-left: -50%;
    padding: 20px;
    width: 100%; }
.error-main > img {
    max-width: 100%; }
.error-main .error-message {
    padding-left: 200px;
    margin-top: -11px; }
@media screen and (max-width: 767px) {
    .error-main .error-message {
        padding-left: 0;
        margin-top: 20px; } }
.error-main .error-message span:first-child {
    display: inline-block; }
.error-main .error-message span:first-child img {
    max-width: 100px; }
.error-main .error-message p {
    display: inline-block;
    font-family: "font-thin", Helvetica, Arial, sans-serif;
    font-size: 43px;
    font-size: 2.6875rem;
    color: #101114;
    line-height: 24px;
    position: relative;
    top: 2px;
    left: -9px; }
.error-main .error-message p strong {
    font-weight: normal;
    font-family: "font-bold", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-size: 1.125rem; }
.error-main .error-message p span {
    display: block;
    color: #ff3a21;
    font-size: 18px;
    font-size: 1.125rem;
    border-top: 1px solid #ff3a21;
    opacity: 0.6;
    filter: alpha(opacity=60); }

/*# sourceMappingURL=ltr-app.css.map */