.stats {
    margin: 0;
    padding: .3571428571rem 0;
    text-transform: none;
}
.vip-product-info {
    margin-bottom: .7142857143rem;
}
.price-messaging {
    padding: .3571428571rem 0;
    border-bottom: 1px solid #f1f1f1;
}
.price-messaging .price-container .price {
    margin-top: 0;
    color: #008BFF;
}
.item-details-mini, .product-shares-actions {
    margin-top: .7142857143rem;
}
dl, ol, ul {
    font-family: inherit;
    margin-bottom: .7142857143rem;
}
dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
dd, .item-details-mini .stats dt {
    width: 50%;
}
.stats dt {
    padding-right: 10px;
}
.stats.ar dd, .stats.ar dt {
    display: block;
    float: right;
    margin-bottom: .7142857143rem;
}.stats.en dd, .stats.en dt {
    display: block;
    float: left;
    margin-bottom: .7142857143rem;
}

